 body {
          background-color: #FFFFFF;
        }
        .title {
          color: #333;
        }
        /* Custom CSS for greyed-out inputs and sliders */
        .grey-out {
          pointer-events: none;
          background-color: # !important; 
          color: #999999; 
        }
        .grey-out .irs {
          pointer-events: none !important;
          opacity: 0.6;
        }
        .grey-out .irs-line {
          background: #777777 !important;
        }
        .grey-out .irs-bar {
          background: #777777 !important;
        }
        .grey-out .irs-handle {
          background: #777777 !important;
        }
        .grey-out-council {
          pointer-events: none;
          background-color: # !important; 
          color: #999999; 
        }
        .grey-out-council .irs {
          pointer-events: none !important;
          opacity: 0.8;
        }
        .grey-out-council .irs-line {
          background: #999999 !important;
        }
        .grey-out-council .irs-bar {
          background: #999999 !important;
        }
        .grey-out-council .irs-handle {
          background: #999999 !important;
        }
        .input-group-ltt {
          display: flex;
          align-items: center;
          margin-bottom: 1px;
        }
        .input-group-ltt label{
          width: 250px;
          margin-right: 5px;
        }
        .input-group-ltt input {
          width: 100px; 
        }
        
        .input-group-council {
        display: flex;
        align-items: center;
         margin-top:10px;
          margin-bottom: 30px;
        }
        .input-group-council label {
        width: 200px;
        margin-right: 5px; 
      
        }
        .input-group-council input {
        width: 100px; 
        }
        
        
        .council-slider {
          display: flex;
          align-items: center;
          margin-bottom: 5px; 
        }
        .council-slider label {
          flex: 0 0 100px; 
          margin-right: 5px; 
          font-size: 14px; 
        }
        .council-slider slider {
              flex: 1; 
    /* Optional: Styling the slider */
    -webkit-appearance: none; 
    height: 8px; 
    background: #ddd; 
    border-radius: 4px; 
    outline: none; 
        }
        .council-slider .shiny-input-container {
          flex-grow: 0.2; /* Let inputs take the remaining space */
          font-size: 14px;
        }
        .council-slider.custom-numeric-input .shiny-input-container input {
          font-size: 14px; 
        }
        
        
        
        
        
        .pa_input_left {
          display: flex;
          align-items: center;
          margin-top:10px;
          margin-bottom: 30px; 
         
        }
        .pa_input_left label {
          flex: 0 0 130px; 
          margin-right: 8px; 
          font-size: 14px;
          font-weight: normal;
        }
        .pa_input_left input {
          width: 100%; 
          max-width: 65px; 
          padding: 2px; 
          font-size: 14px; 
          box-sizing: border-box; 
          height: 28px;
          margin-top:8px;
        }
        
       .pa_input_right {
          display: flex;
          align-items: center;
          margin-top:10px;
          margin-bottom: 30px; 
         
        }
        .pa_input_right label {
          flex: 0 0 160px; 
          margin-right: 8px; 
          font-size: 14px;
          font-weight: normal;
        }
        .pa_input_right input {
          width: 100%; 
          max-width: 70px; 
          padding: 0px; 
          line-height: 14px;
          height: 28px;
          font-size: 14px; 
          box-sizing: border-box; 
          margin-top:8px;
        }
        
        .rates_input_left {
          display: flex;
          align-items: center;
          margin-top:0px;
          margin-bottom: 25px; 
          margin-right:0px;
         
        }
        .rates_input_left label {
          flex: 0 0 10px; 
          margin-right: 1px; 
          font-size: 14px;
          font-weight: normal;

        }
        .rates_input_left input {
          width: 65px; 
          padding: 0px; 
          margin-top:8px;
          line-height: 14px;
          font-size: 14px; 
          box-sizing: border-box; 
          margin-right: 0px;
          height: 25px;
        } 
        
        .number_of_bands {
          display: flex;
          align-items: center;
          margin-top:0px;
          margin-bottom: 0px; 
          margin-right:0px;
         
        }
        .number_of_bands label {
          /*flex: 0 0 80px;  Fixed width for labels */
          margin-right: 5px; 
          font-size: 15px;
          font-weight: normal;
          
        }
        .number_of_bands input {
          width: 35px;
          padding: 0px; 
          margin-top:8px;
          line-height: 14px;
          font-size: 15px; 
          box-sizing: border-box; 
          margin-right: 0px;
          height: 25px;
        }
       
        .rates_input_middle {
          display: flex;
          align-items: center;
          margin-top:10px;
          margin-bottom: 15px; 
          margin-left: 0px;
         
        }
        .rates_input_middle label {
          flex: 0 0 25px; 
          margin-right: 5px; 
          font-size: 14px;
          font-weight: normal;
          margin-left: 0px;
        }
        .rates_input_middle input {
          width: 100%; 
          max-width: 65px; 
          padding: 2px; 
          font-size: 14px; 
          box-sizing: border-box; 
        }
       .rates_input_right_slider {
          display: flex;
          align-items: center;
          margin-bottom: 0px; 
          margin-top: 7px;
          margin-left:2px;
        }
        .rates_input_right_slider label {
          flex: 0 0 5px; 
          margin-right: 2px; 
          margin-left:6px;
          font-size: 14px; 
          font-weight: normal;
        }
        .rates_input_right_slider slider {
              flex: 1; 
    /* Styling the slider */
    -webkit-appearance: none; 
    height: 8px; 
    background: #ddd; 
    border-radius: 4px; 
    outline: none; 
        }
        .rates_input_right_slider .shiny-input-container {
          flex-grow: 0.2; 
          font-size: 14px;
        }
        .rates_input_right_slider.custom-numeric-input .shiny-input-container input {
          font-size: 14px; 
        }
        
        .grey-text-box {
        background-color: #f0f0f0; 
        padding: 2px; 
        border: 1px solid #d3d3d3; 
        border-radius: 5px; 
        color: #333; 
        font-size: 13px;
        width: 37px;
        margin-left:20px;
        }
      .local_taxes_text_box {
        display:flex;
        margin-top:3px;
        margin-bottom: 20px;
        font-size:14px;
      }
      
      .custom-toggle .bootstrap-switch-container {
      line-height: 15px; 
    }
    
    
    .local_taxes-toggle .bootstrap-switch {
      width: 50px; 
      height: 24px;
      margin-bottom:1px;
    }
    .local_taxes-toggle .bootstrap-switch-handle-on,
    .custom-toggle .bootstrap-switch-handle-off {
      font-size: 14px; 
      line-height: 0px;
      padding-bottom: 15px;
    }
    .local_taxes-toggle .bootstrap-switch-handle-off,
    .custom-toggle .bootstrap-switch-handle-on {
      font-size: 14px; 
      line-height: 0px;
      padding-bottom: 15px;
    }
       
    .local_taxes_numeric {
          display: flex;
          align-items: center;
          margin-top:2px;
          margin-bottom: 2px; 
          margin-right:0px;
         
        }
        .local_taxes_numeric label {
          flex: 0 0 260px; 
          margin-right: 3px; 
          font-size: 14px;
          font-weight: normal;
          
        }
        .local_taxes_numeric input {
          width: 100%; 
          max-width: 65px; 
          padding: 0px; 
          margin-top:8px;
          line-height: 14px;
          font-size: 14px; 
          box-sizing: border-box; 
          margin-right: 0px;
          height: 25px;
        }
        
        .property_tax_numeric {
          display: flex;
          align-items: center;
          margin-top:2px;
          margin-bottom: 2px; 
          margin-right:0px;
         
        }
        .property_tax_numeric label {
          flex: 0 0 225px; 
          margin-right: 3px; 
          font-size: 14px;
          font-weight: normal;
          
        }
        .property_tax_numeric input {
          width: 100%; 
          max-width: 65px; 
          padding: 0px; 
          margin-top:8px;
          line-height: 14px;
          font-size: 14px; 
          box-sizing: border-box; 
          margin-right: 0px;
          height: 25px;
        }
      
        .ltt_input_left {
          display: flex;
          align-items: center;
          margin-top:0px;
          margin-bottom: 0px; 
          margin-right:0px;
         
        }
        .ltt_input_left label {
          flex: 0 0 15px; 
          margin-right: 3px; 
          font-size: 14px;
          font-weight: normal;
          
        }
        .ltt_input_left input {
          width: 100%; 
          max-width: 65px; 
          padding: 0px; 
          margin-top:8px;
          line-height: 14px;
          font-size: 14px; 
          box-sizing: border-box; 
          margin-right: 0px;
          height: 25px;
        }
        
        
      .ltt_input_middle {
          display: flex;
          align-items: center;
          margin-top: 0px;
          margin-bottom: 0px; 
          margin-right: 0px;
        }
        
        .ltt_input_middle label {
          flex: 0 0 0px; 
          margin-right: 3px; 
          font-size: 14px;
          font-weight: normal;
        }
        
        .ltt_input_middle input {
          width: 45px;
          padding: 0px; 
          line-height: 14px;
          font-size: 14px; 
          box-sizing: border-box; 
          height: 25px;
          margin-right: 1px; 
          margin-top:8px;
        }
        
        .ltt_input_middle span {
          margin-left: 20px; 
          margin-right:35px;
          font-size: 14px; 
        }
        
        
        
       .input-group-thresholds {
          display: flex;
          align-items: center;
          margin-top:10px;
          margin-bottom: 30px; 
         
        }
        .input-group-thresholds label {
          flex: 0 0 200px; 
          margin-right: 5px; 
          font-size: 14px;
        }
        .input-group-thresholds input {
          width: 100%; 
    max-width: 100px; 
    padding: 5px; 
    font-size: 14px; 
    box-sizing: border-box; 
        }
        
        .input-group-thresholds.custom-numeric-input .shiny-input-container input {
          font-size: 14px; 
        }
        .input-group-block {
          display: flex;
          align-items: center;
          margin-top:10px;
          margin-bottom: 5px; 
         
        }
        .input-group-block label {
          flex: 0 0 200px; 
          margin-right: 5px; 
          font-size: 15px;
        }
        .input-group-block input {
          width: 100%; 
    max-width: 100px; 
    padding: 5px; 
    font-size: 15px; 
    box-sizing: border-box; 
        }
        
        .input-group-block-numeric-input .shiny-input-container input {
          font-size: 16px; 
        }
        
        .input-group-slider {
          display: flex;
          align-items: center;
          margin-bottom: 5px; 
        }
        .input-group-slider label {
          flex: 0 0 70px; 
          margin-right: 5px; 
          font-size: 14px; 
        }
        .input-group-slider slider {
              flex: 1; 
    -webkit-appearance: none; 
    height: 8px; 
    background: #ddd; 
    border-radius: 4px; 
    outline: none; 
        }
        .input-group-slider .shiny-input-container {
          flex-grow: 0.2; 
          font-size: 14px;
        }
        .input-group-slider.custom-numeric-input .shiny-input-container input {
          font-size: 14px; 
        }
       
        .input-group-ndr {
            display: flex;
            align-items: center;
            margin-bottom: 15px; 
            padding: 5px; 
            border: 1px solid #ddd; 
            border-radius: 5px; 
            background-color: #f9f9f9; 
        }


        .input-group-ndr label {
            width: 1000px; 
            margin-right: 15px; 
            font-weight: bold; 
            text-align: left; 
        }
        
        
        .input-group-ndr input {
            
            margin-right: 0; 
            padding: 8px; 
            border: 1px solid #ccc; 
            border-radius: 4px; 
        }

        .input-group-landfill {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
        }
        .input-group-landfill label{
          width: 100px;
        margin-right: 5px;
        }
       .input-group-landfill input {
          width: 100px;
        }
        .ndr-selection {
        display: flex;
        align-items: center;
        margin-right: 5px;
        }
        .ndr-slection label{
        width: 150px;
        }
        .ndr-selection input{
        width: 50px;
        }
        
        .output-box {
          position: absolute;
          right: 100px;
          top:800px; /* Adjust top position as needed */
          width: 30%;
          background-color: #FFFFFF;
          padding: 10px;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          border-radius: 5px;
        }
          .output1-container {
       
        background-color: #ffffff; 
        width: 300px; 
        box-sizing: border-box; 
        display: flex; 
          }
          .calculate-button-container{
          background-color: #FFFFFF;
          padding: 5px; 
          border-radius: 3px;
          margin-top: 10px;
          margin-bottom: 10px;
          margin-left: 0px;
          marin-right:100px;
          display: inline-block; 
          padding-left: 20px; 
          padding-right: 20px;
          }
        .radio-inline {
            font-size: 15px;
        }
        label {
          font-size: 15px;
        }
        #title {
      font-size: 35px;
      font-weight: bold;
        }
        #piechart_title {
        font-size: 25px;
        font-weight: bold;
        }
        #council_tax_title {
        font-size: 16px;
        font-weight: bold;
        }
      
       .switch-label .bootstrap-switch{
      display: inline-block;
      width: 100px; 
      margin-bottom: 10px; 
    }
    .switch-label .switch {
      display: flex;
      align-items: center;
      width: 100px;
    }
    .switch-label .switch input {
      width: auto;
    }
    .switch-label .switch .slider {
      width: 50px; 
      height: 24px; 
    }
    .switch-label .switch .label {
      width: 100px;
    }
    .switch-label .switch .label-text {
      margin-left: 10px; 
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .bordered-column {
      border: 1px solid #C50031; 
      padding: 10px; 
      background-color: #f8f9fa; 
      border-radius: 5px;
    }
    